body{
    padding-top: 50px;
    padding-bottom: 15px;
    background-image: url('/Images/pattern.png');
    background-repeat:repeat;
}
.bady-content{
    padding-left: 15px;
    padding-right: 15px;
}